body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgba(224, 224, 108, 0.349);
    font-family: monospace;
}
#hint {
    font-size: 18px;
}
tr {
    background-color: rgba(243, 240, 240, 0.253);
}

td {
    justify-items: center ;
    border: 1px solid black;
}
th {
    padding-bottom: 10px;
    margin: 0%;

}


table {
    font-size: large;
    border: 2px solid rgb(14, 0, 0);
    border-radius: 10px;
    background-color:rgba(255, 6, 6, 0);
     
}

#assignmentButton {
    background-color: red;
    align-self:flex-start ;
    color: rgb(255, 255, 255);
    font-size: large;
    border: 2px solid black;
    border-radius: 130%;
    margin-top: 5px;
    padding:8px;
    font-family: monospace;
    font-weight: 1000;
}
#generateWeek {
    padding: 8px;
    background-color: rgb(235, 235, 46);
    font-size: large;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 5px;
    align-self: flex-start;
    font-family: monospace;
    font-weight: 1000;
}
.vacDayText {
    display: block;
}
.vacDayInput {
    display: none;
}
.freeDayText {
    display: block;
}
.freeDayInput {
    display: none;
}

#weekTable {
    display: flex;
    flex-direction:column;
    width:500px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

div {
}