table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
#assignmentButton {
    background-color: red;
    color: white;
    border: 1px solid black;
}
#generateWeek {
    background-color: rgb(238, 255, 0);
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.vacDayText {
    display: block;
}
.vacDayInput {
    display: none;
}
.freeDayText {
    display: block;
}
.freeDayInput {
    display: none;
}
